<style>
@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Concert+One);

body {
	font-family: Work Sans, sans-serif;
	font-size: 18px;
	border: 2px solid #222;
}

header {
	background-color: #fff;
	border: 1px black solid;
	padding: 20px;
	font-family: Work Sans, sans-serif;
	font-size: 20px;
	text-align: center; 
}

h1, h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: #222;
	border-bottom-color: #222;
}

img {
	display: block;
	margin: 0 auto;
	width: 480px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	float: left;
	width: 50%;
	height: 6em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 6em;
	color: #000;
	background: #fff;
}

nav {
	font-size: 30px;
	text-align: center;
}
nav a{
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block; 
}

section {
	
	color: #fff;
	overflow: auto;
}

div {
	font-size: 1.2em;
	width: 46%
	padding: 2%;
	display: inline-block;
}

#hero {
	display: block;
	width: 100%;
	margin: 0;
	background: #fff;
}

#about {
	float: left;
	background: #fff;
	color: #222;
	width: 30%;
	padding: 100px;
}

#locations {
	float: right;
	background: #fff;
	color: #222;
	width: 30%;
	padding: 100px;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:  " ";
	clear: both;
	height: 0;
}

a:link {
text-decoration: none;
text-transform: uppercase;
}
a:hover {
text-decoration: underline;
}
a:active {
text-decoration: underline;
}
a:visited {
text-decoration: none;
}

footer {
	text-align: center;
	padding: 1em 0;
	clear; both;
}