@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Concert+One);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Work Sans, sans-serif;
	font-size: 22px;
	color: #222;
}
header {
	/*border: 1px #222 solid;*/
	padding: 1.25em;
	text-align: center;
}
h1, h2 {
	text-transform: uppercase;
	/*border-bottom: 4px solid #222;*/
	display: inline-block;
	font-weight: 800;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	padding: .75em 0;
}
p {
	font-size: .75em;
}
nav {
	/* font-size: 30px; */
	text-align: center;
}
nav a{
	text-decoration: none;
	color: #222;
	padding:1.5em;
	display: inline-block; 
}
#hero img {
	display: block;
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}
#header {
	position: relative;
}
#about, #locations {
	float: left;
	width: 50%;
	padding: 100px;
}
#locations p {
	padding-bottom: 20px
}
#logo {
	position: absolute;
	top: 30px;
	left: 150px;
	display: block;
}
.container {
	text-align: center;
	font-size: 12px;
	padding-bottom: 40px;
	clear: both;
}
.column {
	float: left;
	width: 25%;
	padding: 5px;
}

.row: :after {
	content: "";
	clear: both;
	display: table;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:  " ";
	clear: both;
	height: 0;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color:purple;
}

footer {
	text-align: center;
	padding: 1em 0;
	clear: both;
}

@media only screen and (max-width: 1337px)
{
	#logo {
		display: none;}
	#about, #locations {
		/*float: left;
		width: 50%;*/
		padding: 50px;
}	
}

